html,body{
    overflow: hidden;
}
.nav{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-left:-20%;

}
.nav ul{
    width: 95%;
}
.nav ul li{
    list-style: none;
    
}

.nav a{
    display: block;
    color: aliceblue;
    padding: 16px;
    text-decoration: none;
    margin: 25% 0 -10% 0;
    font-size: 1.25rem;
    text-align: center;
    border: 1px solid green;
}
.nav #contact a{
    margin: 5% 0 -10% 0;
}
#add-btn-user{
    background-color: transparent; 
    border:none;
    font-size:1.25rem;
    margin: 15% 0 0 0;
    color:aliceblue;
    padding:16px;
    width: 100%;
    border: 1px solid green;


}
.table-container{
    max-height: 60%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}
#logout{
    margin-top: 320%;
    font-size: 1.3rem;
    width: 100%;
}
#logout1{
    margin-top: 270%;
    font-size: 1.3rem;
    width: 100%;
}
#add-btn-user:active{
    background-color: brown;
    color: #000;
}
#add-btn-user:hover:not(.active){
    background-color: aliceblue;
    color: #000000;
}
.nav a:active{
    background-color: brown;
    color: #000;
}
.nav a:hover:not(.active){
    background-color: aliceblue;
    color: #000000;
}

.container{
    margin: 0 0 0 200px;
    width: 80%;
    height: 1000px;
}
.checkbox,#checkbox{
    margin: 0 0 0 0;
    cursor: pointer;
    width: 8%;
    font-size: 1.5rem;
    color: aliceblue;

}
header{
    background-color: rgb(37, 37, 37);

}
#checkbox{
    display: none;
    
}
#checkbox:checked ~ .nav{
    
        margin:-2.5% 0 0 0;
    }
#checkbox:checked ~ .checkbox{
    
        margin-left: 13.25%;
        background-color: rgb(37, 37, 37);
}



@media (max-width:700px){
    .nav{
        width: 100%;
        height: auto;
        position: relative;
        margin-left: -50%;
    }
    .nav a{
        float: left;
        border-bottom: grey;

    }
    .container{
        margin-left: 0;
    }
}
